.main_cointainer_home{
    background-color:#9b59b6 ;
    width: 100vw;
    height: 5vh;
    box-shadow: 0px 0px 8px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   
.item_list{
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
   
}
.about_item1,
.about_item2{
    padding: 1.1rem;;
}
@media(max-width:360px){
    .main_cointainer_home{
        height: 3rem;
        box-shadow: 0rem 0rem 8rem;
        
    }
}